@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    font-family: Lato;
  }

  .transform3d {
    transform: translate3d(0, 0, 150px);
  }

  .text-stroke {
    text-stroke-width: 1px;
    text-fill-color: black;
  }
}
